.containerTelaPerfil {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    display: flex;
    border: solid #efeeea;
    border-radius: 16px;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    img {
      border-radius: 100%;
      height: 30vh;
      width: 23%;
      border: solid #00aaff;
    }
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 30vh;
  .paragrafoSobreMim {
    text-align: center;
  }
}
address {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.listaInteresses {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
  li {
    background-color: #d4e7d6;
    padding: 0.5rem;
    color: #278733;
    border-radius: 10px;
  }
  .FotodoPerfil {
    width: 10%;
    border-radius: 100%;
  }