.containerTelaInicial{
    background-color: rgb(209, 209, 201);
    display: flex;
    align-items: center;

    div{
        width: 45%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        h1{
            font-size: 5.20rem;
            width: 90%;

            color: #205691;

        }

        p{
            font-size: 1.5rem;
            width: 75%;
        }

    }

    img{

    }
    
}